# Python
.venv/
__pycache__/
*.pyc

# Data
input/
output/
*.parquet
*.pkl
*.joblib

# Ignore most csv
*.csv

# Allow deployment data files
!data/mart/investment/top_ranked_assets.csv
!data/visualization/investment/latest_ranking_for_pbi.csv
!data/visualization/investment/price_history_for_pbi.csv
!data/visualization/investment/asset_forecast_for_streamlit.csv

# OS / editor
.DS_Store
.vscode/
.idea/
.env

# Streamlit / logs
.streamlit/secrets.toml
*.log
