# Python
.venv/
__pycache__/
*.pyc

# Data
input/
output/
*.parquet
*.csv
*.pkl
*.joblib

# Allow deployment data files
!data/mart/investment/top_ranked_assets.csv
!data/visualization/investment/latest_ranking_for_pbi.csv
!data/visualization/investment/price_history_for_pbi.csv

# OS / editor
.DS_Store
.vscode/
.idea/

# Streamlit / logs
.streamlit/secrets.toml
*.log